<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Calare - login success</title>

	<link rel="stylesheet" href="/static/main.css" />
</head>
<body>
	<h1>Calare - resources</h1>
	<div class="ResourceList"
	{% for resource in resources %}
	<div class="resource">
		<span class="item uuid" title="{{resource.uuid_full}}" onclick="copy_text('{{resource.uuid_full}}')">{{resource.uuid}}</span>
		<span class="item name">{{resource.name}}</span>
	</div>
	{% endfor %}
	<script>
		function copy_text(text) {
			navigator.clipboard.writeText(text)
		}
	</script>
</body>
</html>
